<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://qiniu.lanwangkeji.com/56b88d57dc4e0dc08077280015b21777.ipa?e=1572401848&amp;token=wZrcnfbGygITs1odlg2Pm2UVyqWAk_P_7PONAwte:1E3ruac1zjIIBIQqsdXqxQn8Vg8=</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true/><key>url</key><string>http://qiniu.lanwangkeji.com/fe9eecf878968313e662279aac788bfa.png?e=1572401848&amp;token=wZrcnfbGygITs1odlg2Pm2UVyqWAk_P_7PONAwte:9oVmOZZT_H47Y-A6138LExtguIo=</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.gamecloud.app</string><key>bundle-version</key><string>6.0</string><key>kind</key><string>software</string><key>subtitle</key><string>App Subtitle</string><key>title</key><string>小葡萄助手</string></dict></dict></array></dict></plist>
